.nav-button {
    -fx-background-color: #D8E4BC;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 2;
    -fx-text-fill: #574520;
}

.nav-button:hover {
    -fx-background-color: #AEBF88;
    -fx-text-fill: #2f2a1f;
}

.nav-button:pressed {
    -fx-background-color: #9DAE7A;
    -fx-translate-y: 1;
}
.nav-button-active {
    -fx-background-color: #AEBF88;
    -fx-text-fill: #2f2a1f;
}
/* Raporttikortti */
.report-card {
    -fx-background-color: #D8E4BC;
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-text-fill: #574520;
    -fx-padding: 12;
}

/* Hover-tila */
.report-card:hover {
    -fx-background-color: #AEBF88;
    -fx-text-fill: #2f2a1f;
    -fx-cursor: hand;
}

/* Painettu */
.report-card:pressed {
    -fx-background-color: #9DAE7A;
    -fx-translate-y: 1;
}

/* Aktiivinen raportti */
.report-card-active {
    -fx-background-color: #AEBF88;
    -fx-text-fill: #2f2a1f;
}

/* Raporttikortin tekstit */
.report-card Label {
    -fx-text-fill: #574520;
}
/* aktiivinen */
.table-cell.cell-active {
    -fx-background-color: rgba(46, 204, 113, 0.25);
}

/* varaus maksettu */
.table-cell.cell-paid {
    -fx-background-color: rgba(52, 152, 219, 0.25);
}

/* rivin highlight */
.table-row-cell.row-highlight {
    -fx-background-color: rgba(46, 204, 113, 0.35);
}

/* Poissa käytöstä tai peruttu */
.table-cell.cell-inactive {
    -fx-background-color: rgba(231, 76, 60, 0.25);
}

/* Myöhässä */
.table-cell.cell-late {
    -fx-background-color: rgba(243, 156, 18, 0.30);
}

/* Lasku Lähetetty */
.table-cell.cell-sent {
    -fx-background-color: rgba(52, 152, 219, 0.25);
}
/* Lasku Maksettu */
.table-cell.cell-laskuPaid {
    -fx-background-color: rgba(46, 204, 113, 0.25);
}


